name: CI
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
    types: [closed]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.STAGING_PRIVATE_KEY }}
          host: ${{ secrets.STAGING_SERVER_HOST }}
          username: ${{ secrets.STAGING_SSH_USERNAME }}
          port: ${{ secrets.STAGING_SSH_PORT }}
          script: |
            cd ${{ secrets.STAGING_SERVER_DEPLOY_DIR }}
            git pull origin main
